<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% include templates/javaScriptAndCssLinks.ejs%>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['gantt']});
        google.charts.setOnLoadCallback(drawChart);

        function daysToMilliseconds(days) {
            return days * 24 * 60 * 60 * 1000;
        }

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'Percent Complete');
            data.addColumn('string', 'Dependencies');
            data.addRows([
                <% for (var key in tasklist) {%>
                ['<%= tasklist[key].Task_ID %>', '<%= tasklist[key].Task_Name %>',
                 new Date(<%= tasklist[key].Start_Date.substr(0,4) %>, <%= tasklist[key].Start_Date.substr(5,2) %>, <%= tasklist[key].Start_Date.substr(8,2) %>),
                 new Date(<%= tasklist[key].End_Date.substr(0,4) %>, <%= tasklist[key].End_Date.substr(5,2) %>, <%= tasklist[key].End_Date.substr(8,2) %>),
                 daysToMilliseconds(<%= tasklist[key].Duration %>), <%= tasklist[key].Percent_Complete %> ,  null],
                <%}%>
            ]);
            var options = {
                height: 275
            };
            var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

            chart.draw(data, options);
        }
    </script>
  </head>
  <body onresize="drawChart()">
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <% include templates/siteheader.ejs%>
      <% include templates/sitenav.ejs%>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <div id="chart_div" style="width:inherit"></div>
          </div>
        </div>
      </main>
      <% include templates/fab.ejs%>
    </div>
  </body>
</html>
